<template>
	<div class='row'>
		<h2>Existing Metadata</h2>
		<div class="metadata-frame">
			<table>
				<thead>
	        		<tr>
	        			<th>Video</th>
	        			<th>Type</th>
	        			<th>Value</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr  v-for="meta, index in metadata" >
	        			<td>{{ meta.video_title }}</td>
	        			<td>{{ meta.type }}</td>
	        			<td>{{ meta.value }}</td>
	        		</tr>
	        	</tbody>
			</table>
		</div>
		
	</div>
</template>
<script>
     export default{
          data: function(){
               return {
	               metadata: [],
               }
          },
          mounted(){
               var app = this;
                axios.get('/getMetadata')
                    .then(function(resp){
	                 console.log(resp.data);
                         app.metadata = resp.data.metadata;  
                    })
                    .catch(function(resp){
                         console.log(resp);
                         alert("cant load metadata");
                    });

          },
          methods: { }
     }
</script>

