<template>
	<div class='row'>
		<form action="#" @submit.prevent="save()">
			<label for="video">Choose Video:</label>
			<select name="video" id="video">
				<option value="-1">Choose Video</option>
				<option v-for="video, index in videos" :value="video.id">{{ video.title }}</option>
			</select>
			<br/>
			<label for="type">Metadata Type:</label>
			<select name="type" id="type">
				<option value="-1">Choose Type</option>
				<option value="location">Location</option>
				<option value="keyword">Keyword</option>
			</select>
			<br/>
			<label for="value">Metadata Value:</label>
			<input type="text" name="value" id="value"/><br/>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</template>
<script>
     export default{
          data: function(){
               return {
	               videos: [],
               }
          },
          mounted(){
               var app = this;
                axios.get('/allVideos')
                    .then(function(resp){
                         app.videos = resp.data.videos;  
                    })
                    .catch(function(resp){
                         alert("cant load videos");
                    });
          },
          methods: {
	          save(){
				let video_id = $("#video").val();
				let type = $("#type").val();
				let value = $("#value").val();
				axios.post('/metadata', {"video_id" : video_id, "type": type, "value" : value} )
				.then(function (response) {
					console.log(response.data.message);
					alert(response.data.message);
					window.location = window.location.href;
				})
				.catch(function (error, data) {
					console.log(error);
				 	alert("There was an error saving Metadata!");
				});
	          }
          }
     }
</script>

