<template>
     <div class='row' id='video-gate'>
          <form id="videos" action="#" @submit.prevent="uploadVideo()">

		  <label for="title">Title</label>
		  <input type="text" name="title" id="title"/><br/>		
		   
		  <label for="file">File</label>
		  <input type="file" name="file" id="file"/><br/>
		  	
          <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Upload Video</button>
          </span> 
          </form>
     </div>
</template>
<script>
     export default{
          data: function(){
               return {}
          },
          mounted(){
               var app = this;
          },
          methods: {
	          uploadVideo(){
                   let title = $('form#videos').find('#title').val();
		           let formData = new FormData();

				   	console.log( $('form#videos').find('#file')[0].files);
		            formData.append('title',title);
		            formData.append('file', $('form#videos').find('#file')[0].files[0]);
		            	 axios.post('/upload', formData)
                         .then(function (response) {
                             alert(response.data.message);
							 window.location = window.location.href;
                         })
                         .catch(function (error, data) {
	                         alert("Title and File are Both Required!");
                         });
	          }
          }
     }
</script>

