<template>
	<div class='row'>
		<h1 v-if="videos.length < 1">There are no videos yet!</h1>
	    <div v-for="video, index in videos" class="video-frame">
	    	<h3 >{{ video.title  }}</h3>
	    	<video controls>
	    		<source :src=" video.path " type="video/mp4"/>
	    		Your browser does not support the video tag.
	    	</video>
	        <table>
	        	<thead>
	        		<tr>
	        			<th>Duration</th>
	        			<th>File Size</th>
	        			<th>Format</th>
	        			<th>Bitrate</th>
	        			<th>Likes: {{ video.likes }}</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr>
	        			<td>{{ video.duration }} seconds</td>
	        			<td>{{ video.file_size }} bytes</td>
	        			<td>{{ video.format }}</td>
	        			<td>{{ video.bitrate }}</td>
	        			<td>
	        				<button v-on:click="like(video.id)" :data-id="video.id">Like</button>
	        			</td>
	        		</tr>
	        	</tbody>
	        </table>
	     </div>
    </div>
</template>
<script>
     export default{
          data: function(){
               return {
	               videos: [],
               }
          },
          mounted(){
               var app = this;
               console.log(app.user);
                axios.get('/allVideos')
                    .then(function(resp){
	                 console.log(resp.data);
                         app.videos = resp.data.videos;  
                    })
                    .catch(function(resp){
                         console.log(resp);
                         alert("cant load videos");
                    });

          },
          methods: {
	          like(video_id){
	            	 axios.post('/like', {"video_id" : video_id})
                     .then(function (response) {
                         alert(response.data.message);
						 window.location = window.location.href;
                     })
                     .catch(function (error, data) {
                         alert("Error Liking Video!");
                     });
	          }
          }
     }
</script>

