
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.pages {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    display:block;
}
.video-frame{
	display:block;
	width:100%;
	max-width:100%;
	border-bottom:1px solid grey;
	margin:30px auto 30px auto;
	text-align:center;
}
.video-frame h3:first-letter{
	text-transform:capitalize;
}
.video-frame table{
	margin:10px auto 10px auto;
	width:100%;
}
.metadata-frame{
	width:100%;
	display:block;
}
.metadata-frame table{
	width:100%;
}
.panel-header{
	font-size: 1.4rem;
}
.panel-body{
	margin-bottom:40px;
	padding-bottom:30px;
	border-bottom: 1px solid grey;
}
.metadata-frame td:first-letter{
	text-transform:capitalize;
}

.metadata-frame table {
    border-collapse: collapse;
}
.metadata-frame table th{
	font-size:1.2rem;
}

.metadata-frame table, th, td {
    border: 1px solid grey;
    padding:5px;
}
select#video option:first-letter{
	text-transform:capitalize;
}



